<!doctype html>

<html lang="en">

<head>

  <meta charset="utf-8">
  <title>D3 Showcase</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <meta name="description" content="d3-showcase">
  <meta name="author" content="MarkHalstead">
  <link rel="stylesheet" href="/css/style.css">
  <!-- Required Core Stylesheet -->
<link rel="stylesheet" href="/css/glide.core.min.css">

<!-- Optional Theme Stylesheet -->
 <link rel="stylesheet" href="/css/glide.theme.min.css">

</head>

<body>
  <div class="carousel__container">
			<div class="glide">
				<div class="glide__track" data-glide-el="track">
					<ul class="glide__slides">
            <li class="carousel__slide glide__slide">
							<div class="carousel__slide__image">
                <div id="containerHeat">
                  <div class="heatMap svg-container">
                  </div>
                </div>
							</div>
						</li>

						<li class="carousel__slide glide__slide">
							<div class="carousel__slide__image">
                <div id="containerScatter">
                  <div class="scatterPlot svg-container">
                  </div>
                </div>
							</div>
						</li>
						<li class="carousel__slide glide__slide">
							<div class="carousel__slide__image">
								<img src="https://unsplash.it/960/540" alt="">
							</div>
							<div class="carousel__slide__content">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua.
							</div>
						</li>

            <li class="carousel__slide glide__slide">

              <div class = "carousel__slide__image">

                <div id="containerChoro">
                  <div class="choro svg-container">
                  </div>
                </div>

            </div>
            </li>
					</ul>
				</div>
				<div class="glide__arrows" data-glide-el="controls">
					<button class="glide__arrow glide__arrow--left" data-glide-dir="<">prev</button>
					<button class="glide__arrow glide__arrow--right" data-glide-dir=">">next</button>
				</div>
			</div>
		</div><script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.13.0/d3.min.js" charset="utf-8"></script>
  <script src="/d3/heatmap.js" charset="utf-8"></script>
    <script src="/d3/choro.js" charset="utf-8"></script>
    <!-- <script src="/d3/heatmap.js" charset="utf-8"></script> -->
    <script src="/d3/scatter.js" charset="utf-8"></script>
  <!-- <script src="https://d3js.org/d3.v4.min.js" charset="utf-8"></script> -->
<script src="https://d3js.org/d3-scale-chromatic.v1.min.js" charset="utf-8"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3-legend/2.25.6/d3-legend.js" charset="utf-8"></script>
<script src="https://d3js.org/topojson.v2.min.js" charset="utf-8"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.9.1/d3-tip.js" charset="utf-8"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.13.0/d3.min.js" charset="utf-8"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.0.1/glide.js" ></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.13.0/d3.min.js" charset="utf-8"></script> -->
<!-- <script src="/d3/doping.js" charset="utf-8"></script> -->
<!-- <script src="/d3/choro.js" charset="utf-8"></script>
<script src="/d3/heatmap.js" charset="utf-8"></script>
<script src="/d3/scatter.js" charset="utf-8"></script> -->

    <script>
      new Glide('.glide',{
        // type: 'carousel',
  //autoplay: 0,
  //animationDuration: 400,
  animationTimingFunc: 'ease',
  perView: 1,
  peek: 0
      }).mount()
    </script>
</body>
</html>
